Repository grelinfo/fastapi-apscheduler4: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, rye-sync

check-toml:
  name: check toml
  description: checks toml files for parseable syntax.
  entry: rye run check-toml
  language: system

check-yaml:
  name: check yaml
  description: checks yaml files for parseable syntax.
  entry: rye run check-yaml
  language: system

rye-sync:
  name: rye lock
  description: Eun 'rye sync' to update environment and lock files
  entry: rye lock
  language: system
  pass_filenames: false

🚨 Fix linting errors
  docs/src/getting_started/tutorial001.py
  docs/src/getting_started/tutorial002.py
  docs/src/user_guide/multiple_files/app/main.py
  src/fastapi_apscheduler4/__init__.py
  src/fastapi_apscheduler4/apscheduler_builder.py
  src/fastapi_apscheduler4/config.py
  tests/conftest.py
  tests/test_app.py
  tests/test_apscheduler_builder.py
  tests/test_config.py
  tests/test_postgres.py
  tests/test_router_schedules.py
  tests/test_scheduler.py
  tests/test_utils.py
Due: none

🚨 Fix ruff check warning
  .pre-commit-config.yaml
Due: check-yaml

👷 Add Dependabot config
  .github/dependabot.yml
Due: check-yaml

👷 Add Dependabot config (#3)
  .github/dependabot.yml
Due: check-yaml

👷 Add CI workflow for linting and testing with UV
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: check-yaml

🗑️ Remove coverage failure threshold and add mypy override for testcontainers
  pyproject.toml
Due: check-toml, rye-sync

🚨 Update CI workflow and coverage reporting in pyproject.toml
  .github/workflows/ci.yml
  pyproject.toml
Due: check-toml, check-yaml, rye-sync

💚 Enhance CI workflow with integration tests and build step
  .github/workflows/ci.yml
  pyproject.toml
  tests/test_integration.py
Due: check-toml, check-yaml, rye-sync

👷 Add CI workflow for linting and testing with UV (#6)
  .github/workflows/ci.yml
  .github/workflows/test.yml
  pyproject.toml
  tests/test_integration.py
Due: check-toml, check-yaml, rye-sync

🔧 Update CI configuration and improve test coverage reporting
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml, rye-sync

🔧 Refactor CI workflows and release process
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  docs/release_notes.md
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml, rye-sync

👷 Refactor CI workflows and release process (#7)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  docs/release_notes.md
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml, rye-sync

📌 Upgrade APScheduler
  docs/release_notes.md
  pyproject.toml
  src/fastapi_apscheduler4/apscheduler_builder.py
  uv.lock
Due: check-toml, rye-sync

📌 Upgrade APScheduler to v4.0.0a6 (#8)
  docs/release_notes.md
  pyproject.toml
  src/fastapi_apscheduler4/apscheduler_builder.py
  uv.lock
Due: check-toml, rye-sync

💚 Update release trigger to 'published' event in workflow
  .github/workflows/release.yml
Due: check-yaml

💚 Add Git configuration step for user identity in release workflow
  .github/workflows/release.yml
Due: check-yaml

💚 Enhance release workflow with optional tag input for manual triggers
  .github/workflows/release.yml
Due: check-yaml

💚 Remove workflow_dispatch input for tag release and simplify version setting
  .github/workflows/release.yml
Due: check-yaml

Deployed 94b53a1 to 0.2 with MkDocs 1.6.1 and mike 2.1.3
  0.2/index.html
Due: none

💚 Update documentation badges: add 'uv' badge and replace 'Rye' with 'mypy'
  docs/index.md
Due: none

⬆️ Add Python 3.14 support and upgrade dependencies
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml, rye-sync

💚 Fix GitHub Actions permissions for docs deployment
  .github/workflows/release.yml
Due: check-yaml

💚 Refactor integration tests step in CI workflow to remove unnecessary ID and condition
  .github/workflows/ci.yml
Due: check-yaml

➕ add optional dependencies for PostgreSQL and Redis
  pyproject.toml
Due: check-toml, rye-sync

💚 Update release workflow
  .github/workflows/release.yml
  uv.lock
Due: check-yaml

✏️ Fix typo in transform_comma_separated_string_to_list function
  src/fastapi_apscheduler4/config.py
  src/fastapi_apscheduler4/utils.py
Due: none

🐛 Fix conditional auto-start for APScheduler in SchedulerApp
  src/fastapi_apscheduler4/app.py
Due: none

🔧 Update mypy configuration
  .pre-commit-config.yaml
  pyproject.toml
Due: check-toml, check-yaml, rye-sync

✏️ Fix typo in README.md
  README.md
Due: none

🔧 Fix formatting in CI and release workflow YAML files
  .github/workflows/ci.yml
  .github/workflows/release.yml
  pyproject.toml
Due: check-toml, check-yaml, rye-sync

🦺 Improve error handling in safe_error function
  src/fastapi_apscheduler4/utils.py
Due: none

🦺 Improve timezone validation
  pyproject.toml
  src/fastapi_apscheduler4/schemas.py
  tests/test_schemas.py
  uv.lock
Due: check-toml, rye-sync

🔧 Rearrange import statements for better organization
  src/fastapi_apscheduler4/utils.py
Due: none

👷 Add flags to Codecov uploads for better coverage tracking
  .github/workflows/ci.yml
Due: check-yaml

📌 Update apscheduler dependency to allow for minor version updates
  pyproject.toml
  uv.lock
Due: check-toml, rye-sync

➖ Remove typer dependency from development requirements
  pyproject.toml
  tests/test_app.py
  tests/test_postgres.py
  tests/test_router_schedules.py
  uv.lock
Due: check-toml, rye-sync

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  rye-sync: any of: ^(.*/)?(requirements(-dev)?\.lock|pyproject\.toml)$
