Repository grelinfo/fastapi-apscheduler4: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, rye-sync

check-toml:
  name: check toml
  description: checks toml files for parseable syntax.
  entry: rye run check-toml
  language: system

check-yaml:
  name: check yaml
  description: checks yaml files for parseable syntax.
  entry: rye run check-yaml
  language: system

rye-sync:
  name: rye lock
  description: Eun 'rye sync' to update environment and lock files
  entry: rye lock
  language: system
  pass_filenames: false

chore: Add initial documentation and configuration files
  docs/index.md
  mkdocs.yml
  pyproject.toml
  requirements-dev.lock
Due: check-toml, check-yaml, rye-sync

Set default version to latest with mike 2.1.1
  index.html
Due: none

Deployed 0837150 to latest with MkDocs 1.6.0 and mike 2.1.1
  latest/index.html
Due: none

chore: Update documentation and configuration files
  docs/index.md
  mkdocs.yml
  pyproject.toml
  requirements-dev.lock
Due: check-toml, check-yaml, rye-sync

chore: Refactor code to improve readability and maintainability
  src/fastapi_apscheduler4/app.py
  src/fastapi_apscheduler4/config.py
  src/fastapi_apscheduler4/errors.py
  src/fastapi_apscheduler4/settings.py
  src/fastapi_apscheduler4/utils.py
  tests/test_app.py
  tests/test_config.py
  tests/test_router_schedules.py
  tests/test_settings.py
Due: none

chore: Refactor code for improved readability and maintainability
  .github/workflows/publish.yml
  README.md
  docs/getting_started.md
  docs/index.md
  docs/src/getting_started/tutorial001.py
  docs/src/getting_started/tutorial002.py
  mkdocs.yml
  pyproject.toml
  requirements-dev.lock
  src/fastapi_apscheduler4/__init__.py
  src/fastapi_apscheduler4/app.py
Due: check-toml, check-yaml, rye-sync

chore: Configure Git credentials and sync Rye before publishing
  .github/workflows/publish.yml
Due: check-yaml

Doc: User Guide -> Multiple Files
  README.md
  docs/getting_started.md
  docs/index.md
  docs/src/user_guide/multiple_files/app/__init__.py
  docs/src/user_guide/multiple_files/app/main.py
  docs/src/user_guide/multiple_files/app/schedulers/__init__.py
  docs/src/user_guide/multiple_files/app/schedulers/hello.py
  docs/user_guide.md
  mkdocs.yml
  src/fastapi_apscheduler4/app.py
  src/fastapi_apscheduler4/scheduler.py
  tests/test_app.py
Due: check-yaml

CI: Fetch documentation before publishing
  .github/workflows/publish.yml
Due: check-yaml

CI: Update Git configuration and publish documentation
  .github/workflows/publish.yml
  mkdocs.yml
Due: check-yaml

CI: Try to fix doc publish
  .github/workflows/publish.yml
Due: check-yaml

Deployed e9b1742 to 0.0 with MkDocs 1.6.0 and mike 2.1.1
  0.0/getting_started/index.html
  0.0/index.html
  0.0/sitemap.xml
  0.0/sitemap.xml.gz
  0.0/src/getting_started/__pycache__/tutorial001.cpython-310.pyc
  0.0/src/user_guide/multiple_files/app/__init__.py
  0.0/src/user_guide/multiple_files/app/main.py
  0.0/src/user_guide/multiple_files/app/schedulers/__init__.py
  0.0/src/user_guide/multiple_files/app/schedulers/hello.py
  0.0/user_guide/index.html
Due: none

Deployed e9b1742 to 0.0 with MkDocs 1.6.0 and mike 2.1.1
  0.0/sitemap.xml.gz
  0.0/src/getting_started/__pycache__/tutorial001.cpython-310.pyc
Due: none

Deployed e9b1742 to 0.0 with MkDocs 1.6.0 and mike 2.1.1
  latest
  versions.json
Due: none

[lg] Add test on postgress
  docs/src/getting_started/tutorial002.py
  pyproject.toml
  requirements-dev.lock
  src/fastapi_apscheduler4/config.py
  src/fastapi_apscheduler4/settings.py
  tests/test_app.py
  tests/test_config.py
  tests/test_postgres.py
  tests/test_settings.py
Due: check-toml, rye-sync

test: Merge settings tests into config
  src/fastapi_apscheduler4/scheduler.py
  tests/test_config.py
  tests/test_settings.py
Due: none

feat: Support both user and username in config
  src/fastapi_apscheduler4/config.py
Due: none

feat!: Refactor configuration and APScheduler builder
  docs/src/getting_started/tutorial002.py
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  src/fastapi_apscheduler4/__init__.py
  src/fastapi_apscheduler4/app.py
  src/fastapi_apscheduler4/apscheduler_builder.py
  src/fastapi_apscheduler4/config.py
  src/fastapi_apscheduler4/errors.py
  src/fastapi_apscheduler4/routers/deps.py
  src/fastapi_apscheduler4/routers/schedules.py
  src/fastapi_apscheduler4/routers/tasks.py
  src/fastapi_apscheduler4/scheduler.py
  src/fastapi_apscheduler4/settings.py
  tests/conftest.py
  tests/test_app.py
  tests/test_apscheduler_builder.py
  tests/test_config.py
  tests/test_postgres.py
  tests/test_router_schedules.py
Due: check-toml, rye-sync

doc: Add release notes and update doc
  docs/getting_started.md
  docs/release_notes.md
  mkdocs.yml
Due: check-yaml

chore: Update dependencies
  requirements-dev.lock
  requirements.lock
Due: rye-sync

chore: Update dependencies and add httpx to dev dependencies
  pyproject.toml
  requirements-dev.lock
Due: check-toml, rye-sync

chore: Update typer dependency to version 0.12.5
  pyproject.toml
  requirements-dev.lock
Due: check-toml, rye-sync

chore: Add typer to dependency
  pyproject.toml
Due: check-toml, rye-sync

chore: Update Rye dependency to version 4 in publish workflow
  .github/workflows/publish.yml
Due: check-yaml

chore: Update publish workflow to include --update-aliases flag
  .github/workflows/publish.yml
Due: check-yaml

Deployed cb84eda to 0.1 with MkDocs 1.6.0 and mike 2.1.3
  0.1/sitemap.xml.gz
Due: none

🧱 Replace Rye with UV as build tool
  .github/workflows/publish.yml
  .pre-commit-config.yaml
  README.md
  docs/index.md
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  uv.lock
Due: check-toml, check-yaml, rye-sync

📌 Pin apscheduler version to 4.0.0a5
  pyproject.toml
  uv.lock
Due: check-toml, rye-sync

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  rye-sync: any of: ^(.*/)?(requirements(-dev)?\.lock|pyproject\.toml)$
